@using DiscussionForum.Custom_Helpers
@using DiscussionForum.Models
@using DiscussionForum.Models.ViewModel
@model DiscussionForum.Models.ViewModel.ProfilePageViewModel
@{
	ViewBag.Title = "ProfilePage";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-md-2 left-sidebar"></div>
	<div class="col-md-8">
		<div class="newDiscussion-container">
			<label for="discussionTitleBox">CREATE A DISCUSSION</label>
			<div class="text-group">
				<input type="text" placeholder="Discussion Title" id="discussionTitleBox" />
				<button id="btn-newDiscussion" type="button" class="btn-primary" data-toggle="modal" data-target="#newDiscussion">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
		</div>
		<div class="modal fade" id="newDiscussion" tabindex="-1" role="dialog" aria-labelledby="newDiscussion-label">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h3 class="modal-title" id="newDiscussion-label">Anime Hit</h3>
					</div>
					<div class="modal-body">
						<h4>New Discussion</h4>
						<div class="form-group">
							<label class="control-label" for="discussionTitle">Title</label>
							<input type="text" class="form-control" id="discussionTitle" placeholder="Title" style="width:100%">
						</div>
						<div class="form-group">
							<label class="control-label" for="imageUploads">Upload Images</label>
							<input id="imageUploads" type="file" accept="image/*" placeholder="Upload a few pics" multiple />
						</div>
						<div class="form-group">
							<div style="display:flex">
								<label for="txtBox-newDiscussionPremise">Topic</label>
								<p id="attachedTags"></p>
							</div>
							@Html.TextArea("Premise", new { @class = "form-control", style = "width:100%;", id = "txtBox-newDiscussionPremise" })
						</div>
						<div class="form-group">
							<label class="control-label" for="txtbx-tags">Tags</label>
							<input type="text" class="form-control" id="txtbx-tags"  style="width:90%">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Open Discussion</button>
					</div>
				</div>
			</div>
		</div>
		@*<h2>Profile Page</h2>
		<ol>
			<li>Name</li>
			<li>Friends List</li>
			<li>Favorite Anime</li>
			<li><del>Followed Anime</del> </li>
			<li>Commented discussions </li>

		</ol>*@
		<div class="feed-container">
			@foreach (IFeedItem item in Model.AnimeFeed)
			{
				if (item.GetType() == typeof(ProfileVewAnime))
				{
					ProfileVewAnime Anime = (ProfileVewAnime)item;
			<div class="feedItem">
				<a href="@Url.Action("Anime", "Anime", new {Anime.Id })">
					<div class="media feedItem">
						<div class="media-left">
							<img class="media-object" src="@Anime.ImageUrlMedium" alt="...">
						</div>
						<div class="media-body">
							<h4 class="media-heading">@Anime.Title_Romaji</h4>
							<p class="subtitle">@Anime.Title_English</p>
							<p>@Html.Raw(Anime.Description)</p>
						</div>
					</div>
				</a>
				<div class="icon-container">
					@if (Anime.IsFavorite)
					{
						<div class="favoriteCheckbox" data-bendo-checked="true" data-bendo-itemId="@Anime.Id"></div>
					}
					else
					{
						<div class="favoriteCheckbox" data-bendo-checked="" data-bendo-itemId="@Anime.Id"></div>
					}
				</div>
			</div>
				}
			}
		</div>
		@section scripts{
			<script>
				$("#txtbx-tags").bendoAutocomplete({
					data: {
						url: "/Home/Tags",
						method: "Post",
						dataType: "json",
						textField: "Name",
						valueField: "Id",
					},
					buttonText: "Add Tag",
					placeholder: "Tags",
					buttonClick: function (args) {
					},
					errorMessage:"Please select a one of the tags from the dropdown list before adding to the discussion",
				});

				$("#btn-newDiscussion").click(function (args) {
					$("#discussionTitle").val($("#discussionTitleBox").val());
					$("#txtbx-tags").val("");
				});

				$(".favoriteCheckbox").bendoCheckbox({
					checkedImagUrl: "/Content/Images/Favorite.png",
					uncheckedImageUrl: "/Content/Images/UnFavorite.png",
					uncheckAction: function (args) {
						console.log("unchecked!! " + args);
						$.ajax({
							url: "/Home/FavoriteCheck",
							method: "Post",
							data: {
								animeId: args
							},
							success: function (data) {
								console.log(data);
							},
							error: function (data) {
								alert("Something went wrong!!!");
							}
						})
					},
					checkAction: function (args) {
						console.log("unchecked!! " + args);
						$.ajax({
							url: "/Home/FavoriteCheck",
							method: "Post",
							data: {
								animeId: args
							},
							success: function (data) {
								console.log("it worked!! " + data);
							},
							error: function (data) {
								alert("Something went wrong checked!!!");
							}
						})
					}
				});
			</script>
			}
	</div>
	<div class="col-md-2">
	</div>
</div>
<div id="friendContainer">
	<label class="friend-title">FRIENDS</label>
	<div class="friendList">
		<div>Test 1</div>
		<div>Test 2</div>
	</div>
</div>


