
@model DiscussionForum.Models.ViewModel.MainAdminViewModel
@using DiscussionForum.Custom_Helpers
@using DiscussionForum.Models

@{
    ViewBag.Title = "Admin Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administrator</h2>

<div class="btn-group" role="group" aria-label="...">
    @MyHtml.Button("Import Anime", ButtonType.primary, "ImportAnime", "Admin")
    @Ajax.ActionLink("Import Updates", "ImportUpdates", null, new AjaxOptions() { UpdateTargetId = "ann", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-info" })
    @Html.ActionLink(" Seed Popularity", "SeedPopularity", null, new { @class = "btn btn-warning" })
    @Ajax.ActionLink("Seed Tags", "SeedTags", null, new AjaxOptions() { UpdateTargetId = "ann", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-primary" })
</div>
@Ajax.ActionLink("Get News", "NewsReport", null, new AjaxOptions() { UpdateTargetId = "massImportResults", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-primary" })
<h3>Import</h3>
<ul class="nav nav-tabs">
    <li class="active"><a href="#">Anime</a></li>
    <li><a href="#">News</a></li>
</ul>
<div id="importControls">
    <div class="row">
        <div class="col-md-12 mass-import-container">
            @using (Ajax.BeginForm("MassImport", new { onsubmit = "return false" }, new AjaxOptions() { UpdateTargetId = "massImportResults", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }))
            {
                <h3>Import New Anime</h3>
                <div style="display: flex">
                    <div class="form-group import-form-group">
                        @Html.LabelFor(m => m.RequestVariables.StartDate)
                        <select id="RequestVariables_SDQuantifier" name="SDQuantifier">
                            <option value="">Comparator</option>
                            <option value="startDate_lesser">Before</option>
                            <option value="startDate_greater">After</option>
                        </select>
                        <input type="date" id="RequestVariables_StartDate" name="StartDate" class="form-control dateSelect" />
                    </div>
                    <div class="form-group import-form-group">
                        @Html.LabelFor(m => m.RequestVariables.EndDate)
                        <select id="RequestVariables_EDQuantifier" name="EDQuantifier">
                            <option value="">Comparator</option>
                            <option value="endDate_lesser">Before</option>
                            <option value="endDate_greater">After</option>
                        </select>
                        <input type="date" id="RequestVariables_EndDate" name="EndDate" class="form-control dateSelect" />
                    </div>
                    <div class="form-group import-form-group">
                        @Html.LabelFor(m => m.RequestVariables.ReleaseStatus)
                        <select id="RequestVariables_ReleaseStatus" name="ReleaseStatus" class="form-control">
                            <option value="">Status</option>
                            <option value="RELEASING">Active</option>
                            <option value="FINISHED">Completed</option>
                            <option value="NOT_YET_RELEASED">Pending Release</option>
                            <option value="CANCELLED">Canceled</option>
                        </select>
                    </div>
                    <div class="form-group import-form-group">
                        @Html.LabelFor(m => m.RequestVariables.SortByDate)
                        <select id="sortList" name="SortByDate" class="form-control">
                            <option value="START_DATE">Oldest First</option>
                            <option value="START_DATE_DESC">Newest First</option>
                        </select>
                    </div>
                    <div class="form-group import-form-group">
                        @Html.LabelFor(m => m.RequestVariables.Title)
                        @Html.TextBoxFor(m => m.RequestVariables.Title, new { @class = "form-control", placeholder = "Anime Title" })
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Import A Lot!!</button>
                </div>
                <div id="massImportResults"></div>
            }
        </div>
    </div>

</div>
<div id="ann"></div>

