
@model DiscussionForum.Models.ViewModel.MainAdminViewModel
@using DiscussionForum.Custom_Helpers
@using DiscussionForum.Models


@{
    ViewBag.Title = "Admin Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="overlay" style="display: none"></div>
<div id="busyCursor" style="display: none">
    <div id="spinner"></div>
</div>
<h2>Administrator</h2>

<div class="btn-group" role="group" aria-label="...">
    @MyHtml.Button("Import Anime", ButtonType.primary, "ImportAnime", "Admin")
    @Ajax.ActionLink("Import Updates", "ImportUpdates", null, new AjaxOptions() { UpdateTargetId = "ann", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-info" })
    @Html.ActionLink(" Seed Popularity", "SeedPopularity", null, new { @class = "btn btn-warning" })
    @Ajax.ActionLink("Seed Tags", "SeedTags", null, new AjaxOptions() { UpdateTargetId = "ann", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-primary" })
</div>

<h3>Import</h3>
<ul class="nav nav-tabs">
    <li class="active">
        @Ajax.ActionLink("Anime", "NavItem", new { tabNo = 1 }, new AjaxOptions()
           {
               UpdateTargetId = "importControls",
               InsertionMode = InsertionMode.Replace,
           })
    </li>
    <li>
        @Ajax.ActionLink("News", "NavItem", new { tabNo = 2 }, new AjaxOptions()
        {
            UpdateTargetId = "importControls",
            InsertionMode = InsertionMode.Replace,
        })
    </li>
</ul>
<div id="importControls">
    @{ Html.RenderAction("NavItem", new { tabNo = 1 });}

</div>
<div id="ann"></div>
@section scripts{
    <script src="~/Scripts/testscript.js"></script>
    }

