@model DiscussionForum.Models.ViewModel.MainAdminViewModel
@using DiscussionForum.Models
@using JikanDotNet
<strong>@Model.FreshNews.Count news report links imported</strong>
<div class="row">
    <div id="ImportContainer" class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <input id="headCheckbox" type="checkbox" class="form-control" />
                    </th>
                    <th>ID #</th>
                    <th>IMAGE</th>
                    <th>TITLE</th>
                    <th>DATE</th>
                </tr>
            </thead>
            @foreach (NewsArticle article in Model.FreshNews)
            {
                <tr class="articleRow" data-mal-id="@article.Id">
                        <td>
                            <input class="rowCheckbox" type="checkbox" />
                        </td>
                    <td>
                        
                    </td>
                    <td>
                        <img class="gridRowImage" data-article="image" src="@article.ArticleImage" />
                        <input class="articleContent" data-article="content" type="hidden" value="@article.Content" />
                        @if (String.IsNullOrEmpty(article.PrimaryAnime.Title_English))
                        {
                            <input class="relatedAnime" data-article="anime" type="hidden" value="@article.PrimaryAnime.Title_Romaji" />
                        }
                        else
                        {
                            <input class="relatedAnime" data-article="anime" type="hidden" value="@article.PrimaryAnime.Title_English" />
                        }
                    </td>
                    <td data-article="title">
                        @article.Title
                    </td>
                    <td>
                        @article.PublishDate
                    </td>
                </tr>
            }
        </table>
    </div>
</div>